{% extends "base.html" %}

{% block content %}
<p >This site uses CoinCap API in order to live update cryptocurrencies prices</p>
<p >Util links: </p>
<ul>
    <li>CoinCap website:</span><a href="https://coincap.io/" target="_blank"><span style="color: white;"> https://coincap.io/</span></a></li>
    <li>CoinCap API:</span><a href="https://docs.coincap.io/" target="_blank"><span style="color: white;"> https://docs.coincap.io/</span></a></li>
    <li>Live data JSON:</span><a href="https://api.coincap.io/v2/assets/" target="_blank"><span style="color: white;"> https://api.coincap.io/v2/assets/</span></a></li>
    <li>Github:</span><a href="https://github.com/suivalf/CTS" target="_blank"><span style="color: white;"> https://github.com/suivalf/CTS</span></a></li>
</ul>
{% endblock %}