{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="head" id="head">
        <h2>Hi, {{ current_user.username }}!</h2>
    </div>
    <div class="form" id="inputBar">
        <form id= "form" action="" method="get">
          <select name="option" class="option">
              <option disabled selected value>-- choose crypto --</option>
              {% for o in option_list  %}
              <option name="name" class= "name" id="name" autofocus value="{{ o }}">{{  o }}</option>
              {% endfor %}
          </select><input type="submit" class= "subm" id="subm" value="ADD">
        </form>
    </div>

    {% if coins|length < 1 %}
        <p>What crypto interests you? Add it.</p>
    {% else %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                    <p style="font-size:15px;color:firebrick;"><b>{{ message }}</b></p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% for coin in coins %}
        <p id="info" class="info" name="info">{{ coin.symbol }} -  <b> {{ coin.name }}, </b><b> currently at</b>
            <span class="price" id="{{ coin.coinid }}">{{ coin.price }}$   </span>
            <a id="del" class="del" name="del" href="/delete/{{coin.id}}" style="float: right;"> <button type="submit" id="button" class='button'></button></a>
            <a id="play" class="play" name="play" href="/playPrice/{{coin.symbol}}" style="float: right;"> <i class="gg-play-button"></i></a>
  </p>
    {% endfor %}
    {% endif %}

<br />


</div>

<script>

function ajxCall(){
    var allData = [];
    var elements = document.getElementsByClassName("price");
    var l = elements.length
    for (var i = 0; i < l; i++){
        $.getJSON('https://api.coincap.io/v2/assets/' + String(elements[i].id), function(data) {
            allData.push({
                key: data.data.id,
                value: data.data.priceUsd
            });
            if(allData.length == l){
                processData(allData) // where process data processes all the data
            }
        });
    }
}

var processData = function(data){
     for (var i = 0; i < data.length; i++){
        document.getElementById(data[i].key).innerHTML = String(parseFloat(data[i].value).toFixed(4))+'$';
     }
}


setInterval(function() {
    ajxCall();
  }, 5000);


</script>

{% endblock %}



