{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="head" id="head">
        <h2>Hi, {{ current_user.username }}!</h2>
    </div>
    <div class="form" id="inputBar">
        <form id= "form" action="" method="get">
          <select name="option" class="option">
              <option disabled selected value>-- choose crypto --</option>
              {% for o in option_list  %}
              <option name="name" class= "name" id="name" autofocus value="{{ o }}">{{  o }}</option>
              {% endfor %}
          </select><a id="sumbit" sumbit="del" name="sumbit" ><button type="submit"  class='button'>ADD
            </button></a>
        </form>
    </div>

    {% if coins|length < 1 %}
        <p>What crypto interests you? Add it.</p>
    {% else %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                    <p style="font-size:15px;color:firebrick;"><b>{{ message }}</b></p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% for coin in coins %}
    <p id="info" class="info" name="info"><b>({{ coin.symbol }}) {{ coin.name }}</b><b> - </b>
            <span class="price" id="{{ coin.coinid }}" style="color: white;">{{ coin.price }}$   </span>
            <a id="del" class="del" name="del" href="/delete/{{coin.id}}" style="float: right;"><button type="submit"  class='button' style="float: right;">DEL
            </button></a>
            <a id="stop" class="del" name="stop" href="/playPrice/{{coin.symbol}}/1/0" style="float: right;"><button type="submit"  class='button' style="float: right;">STOP
            </button></a>
            <a class="del" name="play" style="float: right;"><button onclick="sayPrice()" id="play" type="submit"  class='button' style="float: right;">PLAY
            </button></a>
        </p>
    {% endfor %}
    {% endif %}


<br />


</div>

<script>

function sayPrice(){
    var synth = window.speechSynthesis;
    var x = document.getElementById('bitcoin').innerHTML
    console.log(x)
    var utterThis = new SpeechSynthesisUtterance(x);
    var voices = synth.getVoices();
    utterThis.lang = 'en-US'
    synth.speak(utterThis);

}
setInterval(function() {
    sayPrice();
  }, 3000);

function ajxCall(){
    var allData = [];
    var elements = document.getElementsByClassName("price");
    var l = elements.length
    for (var i = 0; i < l; i++){
        $.getJSON('https://api.coincap.io/v2/assets/' + String(elements[i].id), function(data) {
            allData.push({
                key: data.data.id,
                value: data.data.priceUsd
            });
            if(allData.length == l){
                processData(allData) // where process data processes all the data
            }
        });
    }
}


var processData = function(data){
     for (var i = 0; i < data.length; i++){
        document.getElementById(data[i].key).innerHTML = String(parseFloat(data[i].value).toFixed(2))+'$';
     }
}


setInterval(function() {
    ajxCall();
  }, 5000);

function disable(_this) {
  _this.style.backgroundColor = "red";
  _this.disabled = true;
}



</script>

{% endblock %}



